.animating-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  /* width: 0; */
  animation:
    typing 4s steps(48, end) infinite alternate,
    blink-caret 0.75s step-end infinite;
  animation-delay: 0.8s, 0s;
   /* delay typing to match AOS duration */
}

@keyframes typing {
  from { 
    width: 0; 
  }
  to { 
    width: 48ch; 
  }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent }
  50% { border-color: black }
}




@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50%      { border-color: currentColor; }
}

/* @media (max-width: 768px) {
  .typewriter {
    animation: none;       /* remove typing + blinking 
    border-right: none;    /* remove caret 
    width: auto;           /* let text size naturally 
    white-space: normal;   /* allow wrapping if needed *
  }
} */

.under{
  position: relative;
  text-decoration: none;
}

.under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  color: #111827;
  background: #111827;
  transition: all 0.3s ease;
  transform: translateY(-50%);
}

.under:hover::after {
  width: 100%;
}
   

  /* color: #111827;
  text-decoration: underline;
  text-decoration-thickness: 3px; */


